  *{
    margin: 0;
    padding: 0;
    
  }
  body{
            overflow-x: hidden;
        }
        li:hover{
            background-color: var(--bs-warning);
            border-radius: 10px;
            cursor: pointer;

        }

        .bg-gray{
            background-color: #F4EDED;
        }


        @media (max-width:768px) {
            body{
                overflow: auto !important;
            }
            
        }

        .menu::-webkit-scrollbar,.text::-webkit-scrollbar{
           width: 0;
           height: 0;
        }

        .admin_form::-webkit-scrollbar{
            width: 0;
            height: 0;
        }